
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, #43514f, #2d4052);
    cursor: none;
    transition: 0.3s;
}

body.dark-mode {
    background-image: linear-gradient(to bottom right, #24292e, #121921);
}
.container {
    display: flex;
    width: 80%;
    width: 60em;    
    height: 60%;
    background-color: #9CC7C6;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 0 0 10px #ffffff;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.container:hover{
    transform: translatey(-2px);
    transition: 0.3s;
    
}

.form-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, #80CBC4, #64B5F6);
    box-shadow: -3px 0 10px #4f4f4f;}
.form-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #000;
}

body.dark-mode .form-section h1 {
    color: #fff;
}

.form-section input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 19px;
    font-size: 16px;
    cursor: none;
}

body.dark-mode .form-section input {
    background-color: #333;
    color: #fff;
}

.form-section a {
    align-self: flex-end;
    margin-bottom: 20px;
    color: #b0bec5;
    text-decoration: none;
    font-size: 14px;
}

body.dark-mode .form-section a {
    color: #fff;
}

.form-section button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    cursor: none;
    font-family: poppins;
    
}

.form-section button:hover {
    background-color: #000000;
    box-shadow: 0px 0px 10px #ffffff;
    transform: scale(1.05);
}

body.dark-mode .form-section button {
    background-color: #fff;
    color: #000;
}

.form-section p {
    margin-top: 20px;
    color: #fff;
    font-size: 14px;
}
.form-section p a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}


.cursor{position:absolute; background: #cfc7c762; width:50px; height:50px; border-radius:50px; top:50%; left:50%; animation: pulse .5s cubic-bezier(.51,0,0.4,.5) alternate infinite; transform: translate(-50%,-50%) scale(1);}

@keyframes pulse {
  from { width:50px;height:50px; }
  to { width:60px; height:60px; }
}

div.active { animation:bounce .5s ease; }
@keyframes bounce {
 
 100%{ transform: translate(-50%,-50%) scale(2); opacity:0; }
  0%{ transform: translate(-50%,-50%) scale(1); opacity:1; }
} 

.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: rgba(219, 219, 219, 0.744);
    border-radius: 50%;
    z-index: 999;
    pointer-events: none;
  }

  #logintext{
    color: black;
    overflow: hidden; /* Ensures the text is not visible over the cursor */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the text on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end) infinite,
      blink-caret .5s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
  }

